<html xmlns:th="https://www.thymeleaf.org" >
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">

    <h1> Witaj na mojej  stronie testowej </h1>
<br><br>
    <a class="btn btn-primary"  th:href="@{/logout}">Log Out</a>
    <br><br>

<a class="btn btn-light" th:href="@{/student/list}"> Lista studentów </a>
    <br><br><br>

    <a class="btn btn-light" th:href="@{/books/showbooks}"> Lista ksiazek </a>
    <br><br><br>
    <a  class="btn btn-light" th:href="@{/borrowing/list}"> Lista wypozyczen </a>
    <br><br><br>
    <div class="container" th:unless="${#lists.isEmpty(return)}">

       <h3 class=color-rect>  Overdue books: </h3>
        <table class="table table-hover">
            <tr>
                <th>Student</th>
                <th>Book</th>
                <th>Days after</th>
            </tr>
            <tr th:each="borow:${return}">
                <td th:text="*{borow.getValue().student}"></td>
                <td th:text="*{borow.getValue().books}"></td>
                <td th:text="*{borow.getKey().getDays()*-1}"></td>

            </tr>



    </div>






    </table>



    Atualny czas:
<p th:text =" ${time} " > </p>

</div>
</body>

</html>